/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}

.user-interface {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cam {
  padding-top: 20px;
  width: 1280px; 
  max-width: 720px; 
}

.switch {
  
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
 }
 
 .switch input {
  display: none;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: #724ae8;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(110px);
 }
 
 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'Sistema OFF';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
 }
 
 input:checked + .slider:after {
  content: 'Sistema ON';
 }
 
 /*--------- END --------*/
 .user-gui {
  /* Sem necessidade de flexbox ou position: relative aqui */
 
  margin: 0;
}

.gui {
  width: 375px;   /* Ajuste a largura conforme necessário */
  height: 75px;   /* Ajuste a altura conforme necessário */
  background-color: #1c1c1c; /* Apenas para visualização, ajuste conforme necessário */
  position: fixed; /* Fixa a .gui na tela */
  bottom: 0;       /* Alinha a .gui na parte inferior da tela */
  left: 50%;       /* Alinha horizontalmente no centro da tela */
  transform: translateX(-50%); /* Ajusta a posição horizontal para centralizar */
  margin-bottom: 30px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gui .bars {
  display: flex;
  gap: 10px;
}

.gui .bars a {
  width: 47px;
  height: 47px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.profile-menu-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon img {
  width: 47px;
  height: 47px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.profile-icon img:hover {
  transform: scale(1.1);
}

.profile-menu {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px); /* Espaço entre o ícone e o menu */
  right: 0;
  width: 200px; /* Largura do menu */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: grid;
  grid-template-columns: 1fr;
}

.profile-menu.show {
  display: grid;
  opacity: 1;
  transform: translateY(0);
}

.profile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-menu ul li {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.profile-menu ul li:last-child {
  border-bottom: none;
}

.profile-menu ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-menu ul li a:hover {
  background-color: #f0f0f0;
  color: #724ae8; /* Muda a cor do texto ao passar o mouse */
}

.profile-menu ul li a i {
  margin-right: 10px;
  font-size: 18px; /* Ajusta o tamanho dos ícones */
  transition: transform 0.3s ease;
}

.profile-menu ul li a:hover i {
  transform: scale(1.1); /* Animação de escala para ícones ao passar o mouse */
}